














.message-input-form {
  display: flex;
  flex-grow: 1;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
}

.send-button {
  background-color: #075e54;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.send-button:hover {
  background-color: #054d44;
}